body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

#teams {
    padding: 20px;
}

.team {
    margin-bottom: 30px;
}

.team h3 {
    margin-bottom: 10px;
}

.team ul {
    list-style: none;
    padding: 0;
}

.team ul li {
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.team {
  border-bottom: 2px dashed black;
  background-color: lightgray;
}

.hd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.hd > h1 {
  color: white;
}

.hd > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

#participation {
  display: flex;
  align-items: center;
}

.subsection {
  border: 2px solid black;
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

.subsection > img {
  width: 33vw;
}

.subsection > h3 {
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
}