
body {
    background-color: rgb(30, 29, 29);
    overflow: hidden;
    user-select: none;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

#book > div {
    position: absolute;
    height: 600px;
    width: 370px;
}

#book > .p1 {
    background-color: rgb(158, 105, 105);
    overflow: hidden;
    background-image: linear-gradient(rgb(117, 71, 18),rgb(107, 83, 18));

    animation: slidepag 2s ease-in-out 2s 1 forwards;
}
.p2 {
    background-color: brown;
    transform: translateZ(-100px);
    background-image: linear-gradient(rgb(91, 59, 21),rgb(73, 53, 6));
}
#book > .p4 {
    background-color: rgb(103, 52, 17);
    transform: translateZ(-50px) translateX(-50px) rotateY(90deg);
    width: 100px;
}




#book {
    position: relative;
    transform: translate3d(calc(16vw), -900px, -100000px) rotateX(0deg) rotateY(90deg);
    transform-style: preserve-3d;
    perspective: 10000px;

    animation: slide 2s ease-in-out 0s 1 forwards;
}

@keyframes slide {
    0% {
        transfrom: translate3d(calc(30vw + 160px), -200px, -100000px) rotateX(0deg) rotateY(90deg);
    }
    100% {
        transform: translate3d(calc(30vw + 160px), calc(20vh), -1000px) rotateX(10deg) rotateY(10deg);
    }
}
@keyframes slidepag {
    0% {
        transform-origin: 0%;
        transform: rotateY(0deg);
    }
    100% {
        transform-origin: 0%;
        transform: rotateY(-160deg);
    }
}


#view {
    transform-style: preserve-3d;
    perspective: 10000px;
}

#pages > div {
    position: absolute;
    height: 600px;
    width: 370px;
    background-image: linear-gradient(rgb(89, 76, 60),rgb(86, 77, 57));
    text-align: center;
}
#pages > #pi1 {
    transform: translate3d(0, 0, -1px);
    background-image: linear-gradient(rgb(89, 73, 53),rgb(90, 78, 52));
}
#pages > #pi2 {
    transform: translate3d(0, 0, -2px);
    background-image: linear-gradient(rgb(93, 83, 70),rgb(100, 92, 72));
}
#pages > #pi3 {
    transform: translate3d(0, 0, -3px);
    background-image: linear-gradient(rgb(129, 109, 83),rgb(122, 108, 77));
}
#pages > #pi4 {
    transform: translate3d(0, 0, -4px);
    background-image: linear-gradient(rgb(112, 99, 82),rgb(122, 111, 88));
}
#pages > #pi5 {
    transform: translate3d(0, 0, -5px);
    background-image: linear-gradient(rgb(139, 119, 93),rgb(111, 99, 74));
}
#pages > #pi6 {
    transform: translate3d(0, 0, -6px);
    background-image: linear-gradient(rgb(114, 105, 93),rgb(98, 91, 75));
}
#pages > #pi7 {
    transform: translate3d(0, 0, -7px);
    background-image: linear-gradient(rgb(138, 118, 92),rgb(121, 106, 75));
}
#pages > #pi8 {
    transform: translate3d(0, 0, -8px);
    background-image: linear-gradient(rgb(69, 61, 51),rgb(90, 83, 67));
}
#pages > #pi9 {
    transform: translate3d(0, 0, -9px);
    background-image: linear-gradient(rgb(147, 125, 97),rgb(132, 116, 82));
}

#pages {
    transform-style: preserve-3d;
    perspective: 10000px;
}

H1 {
    text-align: center;
}

button {
    background-color: rgb(45, 44, 52);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    opacity: 0.3;
}

button:hover {
    opacity: 0.6;
}

.b1 {
    position: absolute;
    left: 10px;
    top: 39vh;
}
.b2 {
    position: absolute;
    right: 10px;
    top: 39vh;
}

ul {
    list-style: none;
}